@media (max-width: 64em) {
    .locationList {
        max-height: 40vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}

.forecaste-title{
    text-align: center;
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
}