.locationList {
    max-height: 85vh;
    overflow: auto;
}
@media (max-width: 64em) {
    .locationList {
        max-height: 45vh;
        margin-bottom: 20px;
    }
}

.forecaste-title{
    text-align: center;
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
}

